@using Web.Snippets
@using Web.Snippets.Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.Extensions.Options
@using Web.Infrastructure
@using Microsoft.AspNetCore.WebUtilities
@model LocationViewModel
@inject IOptions<ServerConfig> ServerConfig

@{
    var mapUrl = Model.LocationSearchParams != null ? new Uri(QueryHelpers.AddQueryString(ServerConfig.Value.PublicWebSupplierMapUrl, Model.LocationSearchParams)) : null; 
}

<fieldset id="location">
    <legend>Location</legend>
    <p class="description">Will be a map control these are here as a placeholder for dev</p>
    <div>
        @Html.LabelsFor(m => m.Latitude)
        @Html.TextBoxFor(m => m.Latitude)
        @Html.HtmlValidationMessageFor(m => m.Latitude)
    </div>
    <div>
        @Html.LabelsFor(m => m.Longitude)
        @Html.TextBoxFor(m => m.Longitude)
        @Html.HtmlValidationMessageFor(m => m.Longitude)
    </div>
    @if (mapUrl != null)
    {
        <a href="@mapUrl" target="_blank">Go to supplier map</a>
    }
</fieldset>