@page
@using Web.Snippets
@using Web.Snippets.Microsoft.AspNetCore.Mvc.Rendering
@model ForgotPasswordModel

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <div class="title_area">
        <h1>Forgotten Password</h1>
    </div>
    <form method="post" class="modalsubmit">
        @Html.AntiForgeryToken()

        <fieldset class="top">
            <legend>Enter your email</legend>
            <div>
                @Html.LabelsFor(m => m.Input.Email)
                @Html.TextBoxFor(m => m.Input.Email)
                @Html.HtmlValidationMessageFor(m => m.Input.Email)
            </div>
           
        </fieldset>

        @Html.HtmlValidationSummary(false)

        <div>
            <button class="btn_submit" type="submit">
                <i class="fa fa-check"></i><span>Submit</span>
            </button>
        </div>

    </form>

</main>

@section Scripts {
    @await Html.PartialAsync("_ValidationScripts")

    <script>
        (function () {
            Help.setupBackendApp();
        })();
    </script>

}


