@model SupplierViewModel

@section header{
    @await Html.PartialAsync("_Header")
}

<main>
    <table id="suppliers" class="display content">
        <thead>
            <tr>
                @if (Model.UserLoggedIn)
                {
                    <th>Edit</th>

                    <th>Last Note</th>
                    <th>Note</th>
                    <th>Note Author</th>

                    <th>Id</th>
                    <th>Ush. Id</th>
                    <th>Ush. Url</th>
                }
                <th>Registered</th>
                <th>Status</th>
                <th>Organisation Name</th>
                <th>Organisation Type</th>
                <th>Org Type Other</th>
                <th>What you can supply</th>
                <th>Other</th>
                <th>Meets Regulatory Requirements</th>
                <th>Capacity</th>
                @if (Model.UserLoggedIn)
                {
                    <th>Costs</th>
                }
                <th>Contact Details</th>
                <th>Contact Name</th>
                <th>Postcode</th>
                <th>Website</th>
                <th>Description</th>
                <th>TellUsMore</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
        </thead>
        <tbody>
            @foreach (SupplierModel supplier in this.Model.Suppliers)
            {
                <tr>
                    @if (Model.UserLoggedIn)
                    {
                        <td class="cell_links">
                            <a class="btn_action" href="../edit-supplies/@supplier.Id">Edit</a>
                        </td>

                        <td>@supplier.NoteTimestamp</td>
                        <td>@supplier.NoteText</td>
                        <td>@supplier.NoteAuthor</td>

                        <td>@supplier.Id</td>
                        <td>@supplier.UshahidiId</td>
                        <td>@supplier.UshahidiUrl</td>
                    }
                    <td>@supplier.Timestamp</td>
                    <td>@supplier.Status</td>
                    <td>@supplier.Name</td>
                    <td>@supplier.SupplierType</td>
                    <td>@supplier.SupplierTypeOther</td>
                    <td>@supplier.PpeTypesSupplied</td>
                    <td>@supplier.PpeTypesOther</td>
                    <td>@supplier.MeetsRegulations</td>
                    <td>@supplier.Capacity</td>
                    @if (Model.UserLoggedIn)
                    {
                        <td>@supplier.Costs</td>
                    }
                    <td>@supplier.ContactDetails</td>
                    <td>@supplier.ContactName</td>
                    <td>@supplier.Postcode</td>
                    <td>@supplier.Website</td>
                    <td>@supplier.Description</td>
                    <td>@supplier.TellUsMore</td>
                    <td>@supplier.Longitude</td>
                    <td>@supplier.Latitude</td>

                </tr>
            }
        </tbody>
    </table>
    @*<div id="suppliers_wrap">

            <iframe id="suppliers_frame"
                    src="${{secrets.APP-DATA-SUPPLIERS-SHEET}}">
            </iframe>

        </div>*@
</main>

@section Scripts
{
    <script src="~/js/jquery.min.js"></script>
    @await Html.PartialAsync("_DataTables")

    <script>

        var colDefs = [];

        @if(Model.UserLoggedIn)
            {
              <text>colDefs =
                    [
                    //counting from start inwards, 0 based
                    {
                        targets:[5],
                        visible: false
                    },
                    {
                        targets: [6], 
                        visible: false
                    }
                ];</text>
        }

        $(document).ready(function() {
            $('#suppliers').DataTable({
            sScrollX: "100%",
                order: [[1, "desc"]],
                dom: 'fBrtlip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', 'colvis'
                ],
                language: {
                info: "_START_ to _END_ of _TOTAL_",
                    infoFiltered: "(filtered from _MAX_)",
                    lengthMenu: "Display _MENU_",
                    search: "",
                    searchPlaceholder: "Search...",
                    emptyTable: "No records",
                    processing: "Table loading..."
                },
                columnDefs:colDefs,
                select: {
                    style: 'os'
                }
            });
        });

    </script>
}